*.css linguist-language=vue
*.less linguist-language=vue
*.js linguist-language=vue
*.html linguist-language=vue
*.vue linguist-language=vue
Makefile linguist-language=vue
*.Makefile linguist-language=vue
Makefile.* linguist-language=vue